.flexicontact { }
.fc_form { }
.fc_table {border:none; padding: 2px; width:100% }
.fc_table tr {border:none; }
.fc_table td {border:none; padding: 3px 0 3px 0;}
.fc_table td.fc_prompt {text-align:right; vertical-align:top; width:20%; padding-right:10px; padding-top:10px;}
.fc_table td.fc_field  {text-align:left; }
.fc_table td.fc_field input{background: none; border: 1px solid #CCCCCC; height: 25px; padding: 2px 3px; width: 200px !important;}
.fc_error {font-size:small; color:red;}
.fc_table td.fc_images { }
.fc_table td.fc_button {}

.fc_table td.fc_button input[type="submit"]{ 
background: #3994C0;border: none; border-radius: 2px; color: white; cursor: pointer;
    height: 25px; outline: none; width: 109px;
}

.fc_inactive {border:2px solid transparent;}
.fc_active   {border:2px solid red;}