/* @author ( Angie Radtke )
*/
/* not ready */
/* ##########################  general  ########################### */
@font-face{
	font-family:'Titillium Maps';
	src:url("../fonts/TitilliumMaps29L002.eot");
	src:local('Titillium Maps'),local('TitilliumMaps'),
		url("../fonts/TitilliumMaps29L002.otf") format("opentype"),
		url("../fonts/TitilliumMaps29L002.woff") format("woff");
}
h2{font-size:26px;margin-bottom:35px}
.didact{font-family:"Didact Gothic",sans-serif}
.prostoone{font-family:'Prosto One',cursive}
*{outline:none !important}
body{background:url(images/new/background-top.png) repeat-x;color:#333;font-family:arial,helvetica,sans-serif;padding-top:20px}
#all{color:#333;border:0;padding-top:0}
#header{height:88px}
.town-selector{font-size:18pt;color:#1389cc}
.hdiv{height:80px;display:inline-block}
.hdiv a{font-size:14px}
.show-login-form{color:#666;font-weight:700;font-size:13px;text-decoration:none}
.show-registr-form{color:#666;font-size:13px;font-weight:normal;margin-right:10px;text-decoration:none}
.hdiv.float-left{color:#666;font-size:15px}
.float-left{float:left}
.float-right{float:right}
#hlogo{background:url(images/new/logo.png);width:191px;height:67px;display:inline-block}
.pcategories{min-height:34px}
.pcategories:hover .Vmmenu{display:block}
table.cart-summary tr th{background-image:none}
.sectiontableentry1 a,.sectiontableentry1 a:link,.sectiontableentry1 a:hover,.sectiontableentry1 a:visited,.sectiontableentry1 a:active,.sectiontableentry2 a,.sectiontableentry2 a:link,.sectiontableentry2 a:hover,.sectiontableentry2 a:visited,.sectiontableentry2 a:active{font-size:13px;color:#333;text-decoration:underline}
.sectiontableentry1 a:hover{text-decoration:none}
/*TOWNSELECTOR*/
.select{display:inline;float:left;font-size:13px;height:25px;margin:4px -5px 0 0;position:relative}
.select a.opener{background:url(images/new/town-selector.png) no-repeat 8px 7px;display:inline-block;height:25px;overflow:hidden;text-decoration:none;vertical-align:top;width:25px}
.select .vars{display:none;padding:0 0 5px;position:absolute;left:0;text-align:left;top:0;z-index:9999}
.select .vars ul{background:#FFF;border:1px solid #DFDFDF;list-style:none outside none;margin:0;padding:0}
.select .vars ul li{background:none repeat scroll 0 0 #F3F3F3;border-bottom:dashed 1px #D3D3D3;color:#666;font-family:'Didact Gothic',sans-serif;font-size:14px;height:32px;line-height:30px;padding-bottom:0;text-align:left;padding-left:10px;cursor:pointer}
.select .vars ul li:hover{text-decoration:none;background-color:#3994C0;color:#fff}
.current_town{color:#1389CC !important}
#current_town{color:#1389CC;font-size:16px;border-bottom:dashed 1px #1389CC}
.ninput{border:solid 1px #CCC;height:25px;width:200px !important;padding:2px 3px;color:#ccc}
.ninput:hover,
.ninput:focus{color:#000}
table.user-details input{background:none;border-radius:0;border:solid 1px #CCC;height:25px;width:200px !important;padding:2px 3px}
.star{color:#F90000}
#user-registration dd input[type="text"],table.user-details input{background:#fff !important}
/*LOGIN FORM*/
#login-form{width:300px;margin-top:15px}
#login-form label{width:100px}
input.validate-email.required{width:150px !important}
#login-form input[type="text"],
#login-form input[type="password"]{background:#fff;border-radius:0;border:solid 1px #CCC;height:20px;width:150px;padding:2px 3px}
#jform_profile_dob{width:125px !important;margin-right:4px}
#login-form a,#login-form a:link,#login-form a:hover,#login-form a:active,#login-form a:visited{color:#1389CC;font-size:13px}
#cboxContent{border:solid 2px #3994C0;border-radius:10px}
.registration #login-form{width:450px;margin:0 auto}
.registration #login-form label{width:280px}
/* ORDERLIST */
.orderlist{width:100%;font-size:14px;line-height:26px}
.orderlist tr th{background:#FFF}
.orderlist tr.row0{background:transparent;border-top:1px solid #AAA}
.orderlist tr.row1{background:#FFF}
/* END ORDERLIST */
/*TOWNSELECTOR*/
#hsearch{background:url(images/new/search-bg.png) no-repeat;width:166px;height:27px;display:inline-block}
#hsearch input[type="text"]{border:none;outline:none;color:#666}

#cart-module #vmCartModule{display:none;padding:6px 6px;border:solid 1px #ccc}
#cart-module:hover #vmCartModule{display:block}
#search-cat input[type="text"]{background:#FFF;border:1px solid #CCC;height:19px;padding:2px 3px;margin-top:-5px;width:380px !important}
.product_row .product_name a,.product_row .product_name a:link,.product_row .product_name a:active,.product_row .product_name a:hover,.product_row .product_name a:visited{color:#333}
#vmCartModule .prices{color:#8DCE5E}
#vmCartModule .show_cart a,#vmCartModule .show_cart a:link,#vmCartModule .show_cart a:hover,#vmCartModule .show_cart a:visited,#vmCartModule .show_cart a:active{color:#1389CC}
.item-101{display:none}
#cart-module p{color:#666}
#hcart{background:url(images/new/cart.png) no-repeat;width:55px;height:45px;margin-left:12px}
.moduletable_menu{width:771px;float:left}
.hmenu-left{background:url(images/new/main-menu-left.png) no-repeat;float:left;height:34px;width:2px}
.hmenu-right{background:url('images/new/main-menu-right.png') no-repeat;float:left;height:34px;width:3px}
.hmenu-cont{float:left;background:url('images/new/main-menu-center.png') repeat-x;width:770px}
.hmenu-cont li{float:left;height:34px;padding-left:12px;padding-right:19px}
.hmenu-cont li a{font-size:14px;font-weight:normal;color:#fff;height:27px;margin-top:7px}
.module_content{padding:0}
.mhead{width:190px;height:34px}
.lef-mhead{background:url('images/new/lef-mhead.png') no-repeat;height:34px;float:left;width:2px}
.mid-mhead{background:url('images/new/mid-mhead.png') repeat;text-align:center;font-weight:normal;font-size:14px;width:185px;height:27px;padding-top:7px;float:left;color:#fff}
.rig-mhead{background:url('images/new/rig-mhead.png') no-repeat;height:34px;float:left;width:3px}
li.VmClose,li.VmOpen{font-family:'Didact Gothic',sans-serif;height:32px;background:#F3F3F3;color:#666;text-align:center;font-size:14px;line-height:30px;padding-bottom:0}
li.VmClose a,li.VmClose a:link,li.VmClose a:visited,li.VmOpen a,li.VmOpen a:link,li.VmOpen a:visited{color:#666;text-decoration:none}
li.VmClose:hover,li.VmClose:hover>div>a,li.VmOpen:hover,li.VmOpen:hover>div>a{text-decoration:none;background-color:#3994C0;color:#fff}
li.VmClose >div> a:hover{color:#fff}
li.VmClose:hover > div{background:url(images/new/menu-triangle.png) no-repeat 160px 13px}
#previmg{background:url('images/new/left-arrow.png') 10px 51px no-repeat ;width:25px;height:125px;display:inline-block;font-size:0}
#nextimg{background:url('images/new/right-arrow.png') 10px 51px  no-repeat;width:25px;height:125px;display:inline-block;font-size:0}
.VmClose > div{padding-top:0;height:33px;border-bottom:dashed 1px #656565;color:#656565}
.menu-opener{background-color:#fff;float:left;width:749px;height:440px;overflow:visible;margin-left:185px;top:142px;z-index:9999;display:none;position:absolute;border:solid 1px #eee;padding-left:60px}
.menu-opener > ul{position:absolute}
.menu-opener ul{margin-top:10px;margin-bottom:10px;text-align:left}
.menu-opener img{}
.add-to-cart,.addtocart-button{border:none;background-color:#3994C0;outline:none;color:white;width:109px;height:25px;border-radius:2px;cursor:pointer}
.addtocart-button-short{border:none;background:url(images/new/cart-small.png) 5px 7px no-repeat #3994C0;padding-left:40px;margin-left:25px;outline:none;color:white;width:133px;height:40px;border-radius:2px}
ul#thumbs li.active{background:none repeat scroll 0 0 #fff;border:2px solid #000;border-radius:6px 6px 6px 6px;float:left}
ul#thumbs li{border:1px solid #ccc;border-radius:10px;cursor:pointer;float:left;margin-right:18px}
ul#thumbs img{float:left;line-height:80px}
#image{width:773px;height:340px;overflow:hidden;border:solid 1px #EAEAEA;text-align:center}
#grad-underslider{background:url(images/new/slider-down-gradient.png) no-repeat -15px -12px;width:775px;height:7px}
#image img{height:340px}
#slider{position:relative;width:1147px;height:124px;margin-left:-220px;width:1000px;z-index:1;border-bottom:solid 1px #EBEBEB;border-top:solid 1px #EBEBEB}
#subslider{background:url(images/new/bacground_under_slider_line_elipse.png) no-repeat;width:1042px;height:20px;margin-left:-267px;margin-top:-12px}
#thumbwrapper{background:none repeat scroll 0 0 #fff;border:2px solid #666;height:100px;margin-top:10px;padding:5px 0;width:682px}
#thumbarea{height:125px;left:5px;overflow:hidden;position:relative;float:left;width:945px}
#slider{height:155px;background:url(images/new/slider-nav-bg.png) repeat-x}
.main-image{width:100%;height:100%;max-width:300px;max-height:300px;margin-left:23px;overflow:hidden}
.main-image li{list-style:none}
.main-image img{max-height:300px;max-width:100%}
.medium-image{}
.additional-images #product-slider #slider{height:78px;background:transparent;width:344px}
.featuredProductImage{max-height:100%;max-width:100%}
.browseProductImage{max-height:100%;max-width:100%}
/*308*/
.additional-images #previmg{height:78px;width:18px;background:url(images/new/images-slider-left-unactive.png) 0 31px #fff no-repeat}
.additional-images #previmg:hover{height:78px;width:18px;background:url(images/new/images-slider-left.png) 0 31px #fff no-repeat}
.additional-images #nextimg{margin-left:7px;height:78px;width:18px;background:url(images/new/images-slider-right-unactive.png) 0 31px #fff no-repeat}
.additional-images #nextimg:hover{margin-left:7px;height:78px;width:18px;background:url(images/new/images-slider-right.png) 0 31px #fff no-repeat}
.additional-images #product-slider #slider #thumbarea{height:78px;margin-right:3px;width:298px}
#thumbs{height:100px;left:-5px;list-style:none outside none;margin-left:5px;margin-top:15px;position:absolute;width:10000px}
.additional-images #product-slider #slider #thumbs{height:78px;margin-top:0}
.additional-images img{max-height:68px}
.additional-images li,.product-tab-detail,.ui-widget-header,.ui-widget-content{border:none}
.ui-widget-header{border-bottom:solid 1px #ccc;background:none;border-radius:0}
.ui-widget-content{background:none}
.rad10{background:url(images/new/radius10.png) no-repeat;width:11px;height:11px;position:absolute}
.rad10.tl{background-position:0 0}
.rad10.tr{background-position:0 -11px}
.rad10.bl{background-position:-11px 0}
.rad10.br{background-position:-11px -11px}
.imgnav{cursor:pointer;height:375px;outline:medium none;position:inherit;width:20%;z-index:100}
#nextimg:hover{opacity:1}
.m-akcii{border:solid 1px #F3F3F3;margin-top:10px}
/* Akcii header*/
.m-akcii > div{font-family:"Didact Gothic",sans-serif;height:29px;background:#F3F3F3;font-size:16px;color:#666;font-weight:normal;padding-left:20px;padding-top:5px}
.m-akcii li{list-style-image:url(images/new/point_1.png);margin-left:22px;padding-top:5px;padding-bottom:5px}
.m-akcii li a,.m-akcii li a:link,.m-akcii li a:visited{color:#666;font-size:13px;font-weight:normal;text-decoration:none}
.m-akcii li a:hover{color:#666;font-size:13px;font-weight:normal;text-decoration:underline}
#m-poll{border:solid 1px #F3F3F3;margin-top:10px}
#m-poll > div{padding:10px;padding-top:0}
#m-poll form{padding:10px}
#m-poll h4{padding:4px;padding-left:10px;padding-right:10px;}
#m-poll div.head{font-family:"Didact Gothic",sans-serif;height:29px;background:#F3F3F3;font-size:16px;color:#666;font-weight:normal;padding-left:20px;padding-top:5px}
.vmheader-green .h-left{background:url(images/new/head-green-left.png);width:2px;height:34px;float:left}
.vmheader-green .h-mid{font-family:"Didact Gothic",sans-serif;background:url(images/new/head-green-mid.png) repeat-x;height:29px;width:739px;float:left;color:#fff;font-size:16px;padding-left:30px;padding-top:5px}
.vmheader-green .h-right{background:url(images/new/head-green-right.png);width:2px;height:34px;float:left}
.h-akcii{border-left:solid 1px #8ECE5E;border-right:solid 1px #8ECE5E}
.main-items-akc .vm-item{width:237px;height:366px;padding:10px 10px}
.main-items-akc .vm-item-title{margin-top:24px;margin-bottom:24px;text-align:center;height:30px;width:217px;text-align:center}
.vm-item-title a,.vm-item-title a:link,.vm-item-title a:active,.vm-item-title a:hover,.vm-item-title a:visited{color:#6c6c6c;text-decoration:none}
.main-items-akc .vm-item-title a,.main-items-akc .vm-item-title a:link,.main-items-akc .vm-item-title a:active,.main-items-akc .vm-item-title a:hover,.main-items-akc .vm-item-title a:visited{color:#555;font-size:14px;text-decoration:none;font-weight:bold}
.main-items-akc .vm-item-title a:hover{text-decoration:underline}
.items-akc .vm-item-title{margin-bottom:24px;text-align:center;margin-top:24px;font-size:12px;height:30px}
.items-akc .vm-item-title a,.items-akc .vm-item-title a:link,.items-akc .vm-item-title a:hover,.items-akc .vm-item-title a:visited{color:#6B6B6B}
.product-description p a,.product-description p a:link,.product-description p a:active,.product-description p a:hover,.product-description p a:visited{color:#333}
.productdetails-view h3{color:#3994BF;font-size:16px}
.horiz-news li{float:left;list-style:none;width:205px;height:250px;padding:20px 25px 5px 25px}
.sh-block{width:100%;height:62px}
.sh-block h3{margin:0}
.horiz-news li div.img{float:left;width:105px;margin:5px}
#m-news{border:solid 1px #E4E4E4;margin-top:18px}
#m-news > div.m-news-title{font-family:"Didact Gothic",sans-serif;height:29px;background:#E4E4E4;font-size:16px;color:#555;padding-left:20px;padding-top:5px}
.m-news-title h3{margin:0;float:left;font-size:16px;font-weight:100}
.m-news-title h2{margin:0;font-size:16px;font-weight:100;float:left}
#m-news .category-module li,.m-akcii .category-module li{border:none}
#m-news a.mod-articles-category-title,#m-news a.mod-articles-category-title:link,#m-news a.mod-articles-category-title:active,#m-news a.mod-articles-category-title:hover,#m-news a.mod-articles-category-title:visited{color:#555;font-size:13px;text-decoration:none}
#m-news a.mod-articles-category-title:hover{text-decoration:underline}
.mod-articles-category-body{font-weight:normal !important}
.mod-articles-category-date{font-size:12px;font-weight:bold;color:#3994bf}
#m-news .horiz-news p{color:#555;font-size:11px;text-align:left;line-height:1.4em}
.m-akcii .all-news,#m-news .all-news{color:#898989;font-size:12px;text-decoration:none;display:block;text-align:right;width:178px;padding:5px 0}
/*FILTERS*/
.checkbox{background:url(images/new/checkbox-bg.png) no-repeat 0 0;width:17px;height:16px;cursor:pointer;margin-left:16px;margin-top:2px;margin-bottom:2px}
.checkbox.checked{background-position:0 -16px}
.filter-list input[type="checkbox"]{display:none}
.filter-title{background:#fff;color:#295B72;border:none;border-top:solid 1px #E1E1E1;border-bottom:solid 1px #E1E1E1}
tr.filter-item td{padding-top:2px;padding-bottom:2px;font-size:12px}
td.filter-title{padding-left:10px}
.filter-title{background:url(images/new/minus.png) no-repeat 170px 7px}
.filter-title.expanded{background:url('images/new/plus.png') no-repeat 170px 7px}
.filter-item{background:#F5F5F5;color:#616161;border:none}
/*END >> FILTERS*/
.round-left-27,.round-right-27{background:url(images/new/round-left-27.png);width:15px;height:27px;float:left}
.round-right-27{background:url("images/new/round-right-27.png");float:right}
.orderlistcontainer div.activeOrder{padding:0;float:left;border:none;border-radius:0}
.orderlistcontainer{padding-top:6px}
a.vmorder-link:link,a.vmorder-link:hover,a.vmorder-link:visited,a.vmorder-link:active,a.vmorder-link{color:#333;text-decoration:underline;font-size:12px;display:inline}
.pagination-start,.pagination-prev,.pagination-next, .pagination-end{background:url('images/new/paginator.png');width:13px;height:13px;display:inline-block;font-size:0;text-index:-9999}
.vm-pagination > span{display:none}
.vm-pagination{margin-top:7px}
.vm-pagination li{width:13px;float:left;height:13px;display:inline-block;font-size:13px;margin:0 2px 0 2px}
.pagination-start .pagenav,.pagination-prev .pagenav,.pagination-next .pagenav, .pagination-end .pagenav{font-size:0;text-indent:-9999;font-weight:bold}
.pagenav{font-weight:bold;margin-top:-3px;display:block;padding-top:0}
a.pagenav:link,a.pagenav:active,a.pagenav:hover,a.pagenav:visited{color:#919191;outline:none}
.showall a,.showall a:link,.showall a:active,.showall a:visited{text-decoration:none}
.showall a:hover{text-decoration:underline}
li.pagination-start{margin-right:2px;background-position:0 0}
li.pagination-start:hover{margin-right:2px;background-position:0 -13px}
li.pagination-prev{margin-right:2px;background-position:-13px 0}
li.pagination-prev:hover{margin-right:2px;background-position:-13px -13px}
li.pagination-next{margin-left:8px;background-position:-26px 0}
li.pagination-next:hover{margin-left:8px;background-position:-26px -13px}
li.pagination-end{margin-left:2px;background-position:-39px 0}
li.pagination-end:hover{margin-left:2px;background-position:-39px -13px}
/*********************************************/
.price.price-title,.price.akc-price-title{font-size:14px;color:#474747}
.price.akc-price{color:#3F8F03;font-size:24px;font-weight:bold}
.price.price-value{color:#474747}
/**/
.items-akc .vm-item{border-left:solid 1px green;margin:20px 3px 0px 3px;height:329px}
.items-akc .vm-item.first{border-left:none}
.long-bestoff-bottom{background:url(images/new/long-bestoffers-bot.png) no-repeat transparent;width:775px;height:21px}
.main61{border:solid 1px #9C9C9C;border-radius:10px;height:410px;width:242px;margin-left:20px}
.main61:hover{border:solid 1px #3994BF;background:url('images/new/category-item-bg.png') repeat-x 0 0}
/**/
#product-slider #image{width:300px;height:300px}
#product-slider #slider{width:300px;margin-left:0;background:none}
#product-slider #slider #thumbarea{width:250px}
#product-slider #slider #thumbarea ul#thumbs li{border-radius:0;margin:5px;margin-top:10px;margin-bottom:10px}
.additional-images img{height:55px;width:auto}
#bottomslider #slider{margin-left:0;position:inherit}
/*  TRRRRRRRR  */
/* SINGLE ITEM */
.productdetails-view{margin-left:-219px;z-index:0}
tr.product-field{padding:0;min-height:18px}
tr.product-field td{padding-left:20px;padding-top:2px;padding-bottom:2px}
/*Характеристики*/
.summary-title{color:#555;font-size:13px;font-weight:bold}
.product-fields-title,.product-fields-value{color:#555;font-size:11px;font-weight:normal}
.product-field-divider{color:#222;font-size:11px;font-weight:bold}
/**/
.product-details-price{color:#474747;font-size:14px;font-weight:normal}
.product-details-price-single{color:#474747;font-size:26px;font-weight:bold}
.product-details-price-single div,.product-details-price-old div{display:inline !important}
.product-details-price-old{color:#F90000;font-size:18px;font-weight:normal}
.left-slide-btn{background:url(images/new/item-slider-left.png);width:45px;font-size:0;height:204px}
.right-slide-btn{background:url(images/new/item-slider-right.png);width:45px;font-size:0;height:204px}
.right-slide-btn:hover,.left-slide-btn:hover{background-position:45px 0}
.slides_container .productdetails-view .addtocart-bar{margin:0;padding:0}
.slides_container l1{width:970px}
.addtocart-bar .addtocart-button{width:158px}
.slides_container .single_item{float:left;width:263px;height:162px;padding:20px;padding-left:18px;border-top:solid 1px #ccc;border-bottom:solid 1px #ccc}
.slides_container .single_title{width:100%;height:40px;text-align:center}
.slides_container .single_image{width:105px;height:90px;float:left}
.slides_container .single_description{text-align:justify;padding-left:10px;overflow:hidden;height:80px;width:145px;float:left}
.slides_container .single_price{padding-top:5px;color:#F90000;width:105px;height:25px;float:left}
.slides_container .single_title a,.slides_container .single_title a:link,.slides_container .single_title a:hover,.slides_container .single_title a:active,.slides_container .single_title a:visited{color:#2D6D8B;text-decoration:underline}
.vmheader-green-vert{background:url(images/new/bestoffers.png);width:238px;height:21px;padding-top:4px;padding-left:20px;color:#fff}
.v-akcii{width:258px}
.v-akcii ul{margin:0 !important}
.v-akcii li{list-style:none;margin-top:0;margin-bottom:0}
.v-akcii .vertical-body{width:256px;height:418px;border-left:solid 1px #8DCE5E;border-right:solid 1px #8DCE5E}
.v-akcii .vakc-image,.v-akcii .vakc-text,.v-akcii .vakc-price,.v-akcii .vakc-link{float:left}
.v-akcii .vakc-image{height:73px;width:108px;text-align:center;overflow:hidden;margin-top:10px}
.v-akcii .vakc-text{width:99px;height:73px;padding:20px 0 10px 10px;text-align:center}
.v-akcii .vakc-price{height:18px;text-align:center;width:109px}
.v-akcii .vakc-link{height:18px;text-align:center;width:108px}
.v-akcii .vakc-link a:link,.v-akcii .vakc-link a:hover,.v-akcii .vakc-link a:active,.v-akcii .vakc-link a:visited{color:#1389CC;text-decoration:underline}
.v-akcii .bot{background:url(images/new/bestoffers-bot.png);height:14px;width:258px}
.productdetails-view #product-tab-detail{float:left;margin-right:45px;width:685px}
.productdetails-view .moduletable{float:left;margin:0}
.pathway:active,.pathway:hover,.pathway:link,.pathway:visited,.pathway{color:#737373;font-size:13px;text-decoration:none}
.breadcrumbs{color:#000}
/* END SINGLE ITEM*/
#footer-outer{background:url(images/new/footer-bg.png) repeat-x 0 0}
#footer-sub{height:240px}
#footer{height:240px;background:transparent;padding:0}
#5{}
#footer h3{color:#555;text-align:left}
#footer li,#footer ul{list-style-image:url(images/new/point_1.png)}
#footer li a{color:#555;font-weight:normal;line-height:20px;font-size:13px}
.f-menu{float:left;margin-left:59px;margin-right:10px;width:180px}
.f-menu h3{color:#555;font-size:13px;font-weight:bold}
.footer-table{color:#6f6f6f;font-size:12px;font-weight:normal;width:996px}
a:link,a:visited{}
a:hover,a:active,a:focus{}
input:focus{}
fieldset{border:solid 0px #ccc}
.article-info{color:#444}
.article-info dd span{color:#444;border-right:solid 0;background:#eee}
/* ###### back ####### */
#back{}
/* ########  logo  ####### */
#logo span{color:#fff;padding-left:50px;font-size:0.3em !important;text-transform:none;font-family:arial,sans-serif}
#all #header{padding-top:0}
.logoheader{color:#fff;height:110px;margin:0 0 0 10px !important}
h1#logo{font-family:'Titillium Maps',Arial;padding:30px 20px 20px 10px;text-transform:uppercase;font-weight:normal;margin-top:0}
#line{width:98%;max-width:100%;top:0;left:0;padding:5px 10px !important;margin-right:10px;text-align:right}
/* #####  header  ##### */
#header{font-size:1em;position:relative}
/* ++++  lists,skiplinks  +++++++ */
#header ul.menu{top:5em;padding:0;background:#e0e0e0  url(../images/personal/ecke.gif) top left repeat-x;border:0;text-align:left;left:0;display:block;margin:0 10px 0 10px;margin-top:12px}
#header ul.menu li{border:0;margin:0 !important}
#header ul.menu li a:link,#header ul.menu li a:visited{}
#header ul.menu li a:hover,#header ul.menu li a:active,#header ul.menu li a:focus{}
#header ul li.active a:link,#header ul li.active a:visited{}
#header ul.skiplinks{}
#header ul.skiplinks li a.u2:active,#header ul.skiplinks li a.u2:focus{}
/* +++  fontsize  ++++ */
#fontsize{display:inline}
#fontsize p a:link,#fontsize p a:visited{color:#222;border-right:solid 1px #ccc}
#fontsize p a.larger,#fontsize p a.reset,#fontsize p a.smaller{padding-left:5px;padding-right:5px;text-decoration:none;margin:0}
#fontsize p a:hover,#fontsize p a:active,#fontsize p a:focus{background:#095197 !important;color:#fff}
#fontsize h3{color:#222;font-weight:bold}
/* ++++  search  ++ */
#header form,#header form .search,#header form .finder{display:inline;padding-right:1px}
#header form .inputbox{background:url(../images/header-bg.gif) repeat-x;border:solid 1px #ccc;border-bottom:0;border-right:0;padding:5px}
#header form .inputbox:focus{}
#header form .button{border:solid 0 #ddd;background:#ccc url(../images/personal/button.png);color:#333;padding:4px !important}
/* #######  contentarea  ##### */
#contentarea,#contentarea2{background:#fff}
/* ###  breadcrumbs  ##### */
#breadcrumbs,#breadcrumbs span,#breadcrumbs span a:link,#breadcrumbs span a:visited{color:#333}
#breadcrumbs span a:link,#breadcrumbs span a:visited{background:#fff}
#breadcrumbs span a:hover,#breadcrumbs span a:active,#breadcrumbs span a:focus{background:#095197;color:#fff}
/* #####  navigation column  ########### */
.module_content{border:solid 1px #ddd}
.moduletable_js{border:solid 0 #ddd}
#right .moduletable_js{border:0}
#nav h3{border-bottom:solid 1px #ddd;font-family:'Titillium Maps',Arial;color:#555}
h3.js_heading{border-bottom:solid 1px #ddd;background:#eee;font-family:'Titillium Maps',Arial}
h3.js_heading span.backh{border:solid 0 #000}
h3.js_heading span.backh1{}
h3.js_heading a,h3.js_heading a img{border:0}
h3.js_heading a.opencloselink:hover,h3.js_heading a.opencloselink:active,h3.js_heading a.opencloselink:focus{background:none}
#right h3 span.backh{}
#right h3 span.backh2{background:#fff;color:#555;border-bottom:solid 1px #ddd}
#right h3 span.backh3{padding-left:0}
h3.js_heading a:link,h3.js_heading a:visited,h3.js_heading a:hover,h3.js_heading a:active,h3.js_heading a:focus{}
#nav h3.js_heading a:focus{}
#nav form{color:#000}
#nav form a:hover,#nav form a:active,#nav form a:focus{color:#fff;background:#095197;text-decoration:none}
/* ++++++++  first level  ++++ */
#nav .moduletable-example ul.menu{background:#fff;border:0}
ul.menu{border:0;border:solid 0px #eee}
.module_content ul.menu{border:0}
ul.menu li{}
ul.menu li a:link,ul.menu li a:visited{}
ul.menu li.active a:link,ul.menu li.active a:visited{color:#333}
ul.menu li a:hover,ul.menu li a:active,ul.menu li a:focus,ul.menu li.active a:hover,ul.menu li.active a:active,ul.menu li.active a:focus{text-decoration:underline}
/* ++++  second level  +++++ */
ul.menu li ul{border:solid 0 #eee}
ul.menu li ul li{border:solid 0 #000;background:#fff}
ul.menu li.active ul li a:link,ul.menu li.active ul li a:visited{color:#444;border:0;border-bottom:solid 1px #fff;background:#e8e8e8}
ul.menu li.active ul li.active a:link, ul.menu li.active ul li.active a:visited{border:0;color:#333;border-bottom:solid 1px #fff}
ul.menu li.active ul li a:hover,ul.menu li.active ul li a:active,ul.menu li.active ul li a:focus{background:#666 !important;color:#fff !important}
/* ++++  third level  ++++++ */
ul.menu li ul li ul{border:0 !important;background:#f5f5f5 !important;padding-bottom:0}
ul.menu li.active ul li.active ul li a:link,ul.menu li.active ul li.active ul li a:visited{background:#f5f5f5;border-bottom:solid 1px #fff;color:#444}
ul.menu li.active ul li.active ul li.active a:link,ul.menu li.active ul li.active ul li.active a:visited{color:#333}
/* +++++  fourth level  +++++ */
ul.menu li ul li ul li ul{border:solid 1px #eee !important;padding-top:10px !important;padding-bottom:10px !important;background:#fff url(../images/nature/level4.png) repeat-x !important}
ul.menu li.active  ul li.active  ul li.active  ul li  a:link,ul.menu li.active  ul li.active  ul li.active  ul li a:visited{font-weight:normal;padding:3px 2px 3px 40px;font-size:0.9em;background:#fff url(../images/nature/arrow_small.png) no-repeat  30px 5px;color:#444}
ul.menu li.active  ul li.active  ul li.active  ul li.active  a:link,ul.menu li.active  ul li.active  ul li.active  ul li.active a:visited{font-weight:bold;color:#333}
/* +++++  fifth level  +++++ */
ul.menu li ul li ul li ul li ul{border:solid 0px #eee !important;padding-top:5px !important;padding-bottom:10px !important;background:#fff !important}
ul.menu li.active  ul li.active  ul li.active  ul li.active	ul li  a:link,ul.menu li.active  ul li.active  ul li.active  ul li.active	ul li a:visited{font-weight:normal;padding:3px 2px 3px 5px;font-size:0.9em;background:#fff ;color:#444;margin:0 10px  0 35px;border-bottom:solid 1px #ddd}
ul.menu li.active  ul li.active  ul li.active  ul li.active  ul li.active  a:link,ul.menu li.active  ul li.active  ul li.active  ul li.active  ul li.active a:visited{font-weight:bold;color:#333}
/* ########  content - main   ##### */
#main{}
#main a:link,#main a:visited{}
#main a:hover,#main a:active,#main a:focus{background:#095197;color:#fff}
#main th a:hover,#main th a:active,#main th a:focus{background:#333;color:#fff}
.items-row{background:#fff}
.items-row h2{border-bottom:solid 1px #ddd;border-top:solid 1px #ddd;color:#555}
.column-1,.column-2{border:solid 0}
.item-separator{border:solid 0 #333}
#main ul li{}
.small{border:solid 0}
ul#archive-items li.row0,ul#archive-items li.row1{border-bottom:solid 1px #ddd}
.archive #adminForm fieldset{border:0;padding:0;margin:20px 0}
/* ++++++++++++++  images  ++++++++++++++ */
.image-left{padding:2px}
.image-right{border:solid 1px #ddd;padding:2px}
/* ++++++++++++++  leading  ++++++++++++++ */
.items-leading{}
/* ++++++++++++++++++++ headings +++++++++++++ */
#main h1{color:#0d4c89;border-bottom:solid 1px #ddd;font-family:'Titillium Maps',Arial}
#main .blog  h1,#main .blog-featured  h1{color:#0d4c89;border-top:solid 1px #ddd;border-bottom:solid 1px #ddd;font-family:'Titillium Maps',Arial;margin-top:-1px !important
}
/* h1 on frontpage */
.items-row h2{border-top:solid 1px #ddd;border-bottom:solid 1px #ddd}
.items-leading h2,#main h3,#main h4{color:#555}
#main h2{color:#555;font-family:'Titillium Maps',Arial}
#main h2 a{color:#095197}
/* ++++++++++++++  readmore  ++++++++++++++ */
.readmore a:link,.readmore a:visited,a.readmore:link,a.readmore:visited{color:#095197;background:#eee url(../images/nature/arrow1.gif) no-repeat left top;border:solid 1px #ddd}
.readmore a:hover,.readmore a:active,.readmore a:focus,a.readmore a:hover,a.readmore a:active,a.readmore a:focus{background:#555 url(../images/nature/arrow2.gif) no-repeat left 6px !important;color:#fff}
a.readmore:hover,a.readmore:active,a.readmore:focus{background:#555;color:#fff}
/* ++++++++++++++  icons  ++++++++++++++ */
.actions img{border:0}
/* ++++++++++++++  items-more  ++++++++++++++ */
#main .items-more h3{border-bottom:solid 1px #ddd;border-top:solid 1px #ddd;color:#444}
#main .items-more ol{color:#000}
#main .items-more ol li a{background:#fff url(../images/blog_more.gif) no-repeat 0 center;color:#095197}
#main .items-more ol li a:hover,#main .items-more ol li a:active,#main .items-more ol li a:focus{background:#095197 url(../images/blog_more_hover.gif) no-repeat 0 center;color:#fff}
/* ++++++++++++++  pagination  ++++++++++++++ */
#main .pagination{border-top:solid 1px #ddd;clear:both}
/* ++++++++++++++  article index  ++++++++++++++ */
table.contenttoc{border:solid 1px #ccc}
/* ##########################  right column   ########################### */
#right{border:solid 0px #e6e6e6;background:#fff}
#right h3{}
#right h4{color:#555;border:solid 0}
#right ul li a:hover,#right ul li a:active,#right ul li a:focus{background:#095197;color:#fff}
/* ++++++++++++++  button for closing right column  ++++++++++++++ */
#close span{color:#000}
/* ##########################  modules  ########################### */
/* ++++++++++++++  mostread,latest news ++++++++++++++ */
.mostread li a:link,.mostread li a:visited,.latestnews li a:link,.latestnews li a:visited{background:url(../images/personal/arrow2_grey.png) 2px 7px  no-repeat}
.mostread li a:hover,.latestnews li a:hover,.mostread li a:active,.latestnews li a:active,.mostread li a:focus,.latestnews li a:focus{background:#555 url(../images/arrow_white_grey.png) 2px 7px  no-repeat !important}
/* ++++++++++++++  newsfeed  ++++++++++++++ */
ul.newsfeed{border:solid 0 #000}
.newsfeed-item{border-bottom:solid 1px #ddd}
.newsfeed-item h5 a{}
/* ++++++++++++++  newsflash  ++++++++++++++ */
/* newsflash horizontal */
ul.newsflash-horiz{background:#F5F5F5 url(../images/nature/box.png) repeat-x;border:1px solid #eee}
ul.newsflash-horiz li{border:solid 0 #eee;background:#f5f5f5}
ul.newsflash-horiz li h4{font-family:'Titillium Maps',Arial}
/* newsflash vertical */
.newsflash-vert{}
/* ++++++++++++++  banner  ++++++++++++++ */
.banneritem{border:0}
.banneritem a{background:none}
.banneritem a img{background:none;border:0}
/* ++++++++++++++  login  ++++++++++++++ */
#login-form .inputbox{border:solid 1px #ddd;background:url(../images/content_bg.gif) repeat-x}
fieldset.input{border:0}
input.button,button.button,button.validate{background:#fff url(../images/nature/arrow1.gif) no-repeat left top;color:#444}
/* ++++++++++++++  tabs/ slide  ++++++++++++++ */
ul.tabs{border:solid 1px #ddd;border-bottom:0;background:#f5f5f5 url(../images/nature/box.png) repeat-x}
ul.tabs li{background:#f5f5f5 url(../images/nature/box.png) repeat-x;border-right:solid 1px #ddd}
ul.tabs li a:link,ul.tabs li a:visited{color:#333}
ul.tabs li a:hover,ul.tabs li a:active,ul.tabs li a:focus{color:#000}
.tabcontent{border:solid 1px #ddd;background:#fff;color:#000}
.tabcontent .linkclosed{color:#000;border-bottom:solid 1px #e5e5e5}
ul.tabs li a.linkopen{background:#fff;color:#333;border:0}
ul.tabs li a.linkclosed:hover,ul.tabs li a.linkclosed:active,ul.tabs li a.linkclosed:focus,ul.tabs li a.linkopen:hover,ul.tabs li a.linkopen:active,ul.tabs li a.linkopen:focus{background:#555;color:#fff}
/* ++++++++++++++  category-module  ++++++++++++++ */
#right .category-module h4 a:link,#right .category-module h4 a:visited{color:#0D4C89}
#right .category-module h4 a:hover,#right .category-module h4 a:active,#right .category-module h4 a:focus{color:#fff}
.category-module li{border-bottom:solid 1px #ddd}
.category-module li li{border:0}
/* ##########################  search   ########################### */
.searchintro img{border:0}
input.inputbox:focus{border:solid 2px #000}
.word{background:#fff;border:solid 0 #ccc}
.word input{border:solid 1px #ddd;background:url(../images/content_bg.gif) repeat-x;color:#333}
.only{border:1px solid #ccc}
.phrases{color:#000;border:solid 1px #ccc}
/* ++++++++++++++  selects  ++++++++++++++ */
.phrases .inputbox{background:#fff;color:#000}
.phrases .inputbox option{background:#f5f5f5;border-bottom:solid 1px #ccc}
.phrases .inputbox option a:hover{background:#C00;border-color:#CFD0D6;color:#fff}
/* ++++++++++++++   search results	++++++++++++++++++ */
dl.search-results{background:#f5f5f5}
dl.search-results dt.result-title{border-top:dotted 1px #ddd}
dl.search-results dd.result-url{border-bottom:solid 5px #fff;color:#115599}
dl.search-results dd.result-created{border-bottom:solid 5px #fff}
/* ##########################  forms   ########################### */
/* ++++++++++++++  form validation  ++++++++++++++ */
.invalid{border-color:red !important}
label.invalid{color:red}
/* ##########################  user profile  ########################### */
#users-profile-core,#users-profile-custom{border:solid 1px #ccc}
#member-profile fieldset{border:solid 1px #ccc}
/* ##########################  tables   ########################### */
table{}
tbody{}
tr.odd,.cat-list-row1{background:#fff}
table.newsfeeds td,table.weblinks td{}
table.weblinks th,table.newsfeeds th,table.category th,table.jlist-table th{background:#444}
table.weblinks th a,table.newsfeeds th a,table.category th a,table.jlist-table th a,table.weblinks th,table.newsfeeds th,table.category th,table.jlist-table th{color:#fff}
td.table_footer{background:#ddd url(../images/table_footer.gif) bottom left repeat-x}
td.counter{}
td.num,td.hits{}
td p{}
table.category th a img{border:solid 0}
/* for opera */
tr,td{}
#main table.moduletable td,#main table.moduletable tr{border:0}
fieldset.filters{border:solid 0 #ddd}
/* ##########################  contacts   ########################### */
.contact form,.contact input{background:#fff;color:#000}
.contact .button{}
.contact input.invalid,.contact textarea.invalid{border:solid 2px red}
.contact label.invalid{color:red}
/* ++++++++++++++  Error Message contact form  ++++++++++++++ */
p.error{color:#044b63;background:#eee;border-top:3px solid #044b63;border-bottom:3px solid #044b63}
body.contentpane{background:#fff}
/* ##########################  footer   ########################### */
#footer{color:#fff;border-top:solid 0 #ccc}
#footer-inner{border-top:solid 1px #ddd}
#bottom a img{border:0}
.box h3{font-family:'Titillium Maps',Arial;font-size:1.2em}
.box ul{padding-left:0}
.box1{border-right:solid 1px #ccc}
.box3{border-left:solid 1px #ccc}
#bottom  ul li a{background-image:none;padding-left:0}
/* ##########################  editor  ########################### */
.contentpaneopen_edit img{border:0}
form.editor fieldset{border:solid 1px #ccc}
/* ++++++++++++++  edit  ++++++++++++++ */
form#adminForm{border:solid 0 #000}
.edit form#adminForm fieldset{border:solid 1px #ddd}
.edit form#adminForm  legend{font-weight:bold}
/* ++++++++++++++  tooltip  ++++++++++++++ */
.tip{border:solid 1px #333;background:#ffffcc}
/*-------------------------------*/
table.pagenav,table.pagenav tr,table.pagenav td{border:0 !important}
.cat-children ul ul,.categories-list ul ul{list-style-type:none}
.cat-children ul ul ul,.categories-list ul ul ul{}
.categories-list .category-desc ul li{list-style-type:square}
/* contact  plain */
#main .contact h3{border-bottom:solid 1px #ddd;margin:20px 0}
.form-required{font-weight:bold;margin:10px 0;background:#fff url(../images/req.png) no-repeat;padding:10px 40px}
.contact .inputbox,.registration input,.profile-edit input,.login-fields input,.remind input,.reset input{border:solid 1px #ccc;padding:3px}
.profile-edit select{padding:0;border:solid 1px #ccc;background:#f5f5f5}
.profile-edit select option{padding:3px}
/* contact  slider */
.panel{border:solid 1px #ddd;margin-top:-1px}
#main .contact .panel h3{margin:0;padding:0;background:#eee;border:0}
.panel h3 a{display:block;padding:6px;text-decoration:none;color:#444;padding:6px}
.panel h3.pane-toggler a{background:#f5f5f5 url(../images/slider_plus.png) right  top no-repeat}
.panel h3.pane-toggler-down a{background:#f5f5f5  url(../images/slider_minus.png) right  top no-repeat;border-bottom:solid 1px #ddd}
.pane-slider{border:solid 0;padding:0 10px !important;margin:0;background:url(../images/nav_level_1.gif) repeat-x}
.panel .contact-form,.panel  .contact-miscinfo{padding:10px}
.contact .panel .contact-form form,.contact .panel .contact-address{margin:20px 0 0 0}
/* tabs */
div.current{background:url(../images/nav_level_1.gif) repeat-x}
/* image upload modal */
#all #upload-flash ul li a:hover,#all .item a:hover span{background:#095197;color:#fff}
#close a{text-decoration:none}
/* ########################## sample module styling  ########################### */
div.sample-module{border:2px dashed #ddd;padding:10px;background-color:#f5f5f5}
/* :::MY MODULE:::*/
.header-menu{}
.header-menu ul li{display:block;float:left;list-style:none;z-index:9999 !important}
.hidden{display:none}
.vmCartHoverer .vmCartModule{display:none;position:absolute;z-index:9999}
.vmCartHoverer:hover .vmCartModule{display:block}
.hidden{display:none}
#nav.left1.leftbigger{width:180px;margin-right:25px;overflow:hidden}
.vm_cart_products{z-index:9999}
.bigleft{width:125px}
/*******/
.basket-bubble-itemcount{position:absolute;background:url("/images/mobile/bubble-left.png") no-repeat;width:30px;height:27px;text-align:center;margin:-77px 0 0 87px !important;padding:6px 0 0 0 !important}
.basket-large-image{position:absolute;margin:-100px 0 0 115px !important;width:64px;height:64px}
.social-buttons{width:429px;position:absolute;left:671px;top:2px;height:17px;background :url('../images/socials.png')}
.contacts{color:#000;font-family:"Didact Gothic",sans-serif;text-align:center;padding-top:0;position:absolute;margin-left:0;left:640px;top:18px;font-size:15px;width:300px}
.addthis_toolbox{width:108px;float:right}
.logoheader{}
.moduletable_js,.moduletable_js:focus
.module_content,.module_content:focus{outline:none !important}
#nav{background:url(../images/ver_line.png) no-repeat left bottom}
.vmCartModule{display:inline-block;position:absolute;position:absolute;z-index:9999}
/*SLIDER*/
#bottomslider li.panel.activePage,#akcslider li.panel.activePage{width:763px !important;height:165px !important}
#bottomslider li.panel,#akcslider li.panel{height:0 !important;width:0 !important}
#bottomslider li.panel >div,#akcslider li.panel >div{width:223px !important}
.product-fields .even{background:#ebf1f3}
/* SLIDER */
ul.menu li a:link,ul.menu li a:visited{padding-left:7px}
#tab-details tr{width:520px}
#tab-details .product-fields-title{display:inline-block;width:280px}
#tab-details .product-fields-value{}
#tab-details .even .product-field-divider{color:#ebf1f3;border-left:solid 1px #ccc}
#tab-details .odd .product-field-divider{color:#fff;border-left:solid 1px #ccc}
#tab-details .product-field{border-top:solid 1px #aaa}
ul.menu li.active a,ul.menu li.active a:link,ul.menu li.active a:hover,ul.menu li.active a:active,ul.menu li.active a:visited{font-weight:normal}
.item-page p{text-align:justify}
.item-page p a,.item-page p a:active,.item-page p a:visited,.item-page p a:link{text-decoration:underline;color:#1389CC !important}
.item-page p a:hover{text-decoration:none}
ul.VMmenu,.VMmenu ul,.VMmenu li{padding-left:0 !important;padding-right:0 !important}
.category td.list-title{font-size:14px}
.menu-openable{z-index:9999;position:absolute}
.menu-openable > ul{display:none}
.menu-openable:hover > ul{display:block}
#tab-obzors{font-size:11px}
#tab-obzors p{text-align:justify}
.product-details-slides{width:1000px}
/* search-select */
#custom_parent_id{height:25px}
.filter-remove{background:url(images/new/clear.png);width:11px;height:11px;display:inline-block;margin-left:10px}
.items-on-page{width:50px;margin-top:4px}
.items-on-page input:focus{border-width:1px !important}
#modlgn-username,#modlgn-passwd{border:solid 1px #3994C0 !important;border-radius:5px !important}
#adminForm div#ui-tabs ul#tabs li{background:none;font-weight:bold;text-decoration:none;padding-left:0;font-size:14px}
#adminForm div#ui-tabs ul#tabs li.current{text-decoration:underline}
#adminForm div#ui-tabs ul#tabs{padding-left:0}
div#tab-1,div#tab-2{background:#F5F5F5;border:solid 1px #DBDBDB}
a.hover-on-underline:active,a.hover-on-underline:link,a.hover-on-underline:visited,a.hover-on-underline{text-decoration:none}
a.hover-on-underline:hover{text-decoration:underline}
.footer li.active a{color:#555 !important}
p span.spacer{display:none}
#fb-like-short{width:100px;overflow:hidden}
#facebox .popup .content h4,.cart-summary .PricesalesPrice{font-family:"Didact Gothic"}
table.vmorder-done{height:200px}
table.vmorder-done td{padding:10px}
.hmenu-cont li.active a:link,.hmenu-cont li.active a:hover,.hmenu-cont li.active a:visited,.hmenu-cont li.active a:active,.hmenu-cont li.active a{color:#fff !important}
.mod-articles-category-introtext{height:136px;font-size:12px !important}
.mod-articles-category-body a:link,.mod-articles-category-body a:hover,.mod-articles-category-body a:visited,.mod-articles-category-body a:active,.mod-articles-category-body a{color:#2A637E}
.mod-articles-category-date{font-size:9px !important}
.justify-rec *{text-align:justify;margin-top:20px;font-size:13px}
.vmpayment_name{padding:0 !important}
.single-fav-link a,.single-fav-link a:link,.single-fav-link a:hover,.single-fav-link a:visited,.single-fav-link a:active{color:#5C9005;font-size:11px}
.prod_name a,.prod_name a:link,.prod_name a:hover,.prod_name a:active,.prod_name a:visited{color:#333;font-size:13px;font-weight:normal}
.prod_price{color:#3F9005;font-size:18px;font-weight:bold}
.filter-title span.title{margin-right:20px}
.votebutton{color:#3994C0;border:solid 2px #3994C0;background-color:#fff}
.b-hit{background:url(../images/hit.png);width:90px;height:90px;display:inline-block;margin-left:150px;margin-top:30px;position:absolute}
.b-new{background:url(../images/new.png);width:90px;height:90px;display:inline-block;margin-left:150px;margin-top:30px;position:absolute}
.b-akc{background:url(../images/akc.png);width:90px;height:90px;display:inline-block;margin-left:150px;margin-top:30px;position:absolute}
.radio{background:url(../images/point_2_3.png) 0 11px;width:12px;height:12px;display:inline-block;padding-top:0;vertical-align:bottom;margin-bottom:2px;cursor:pointer}
.radio.active{background-position:0 0}
#poll_vote_1 input[type="radio"]{display:none}